*.png
*.jpg
*.jpeg
*.tif
__pycache__
assets/gifts/.DS_Store
assets/.DS_Store
assets/skia.ttf
assets/octo.tif
assets/gfreg.ttf
.DS_Store
hosp_pages
pages
pages
pages
pages/page2.pdf
pages/page3.pdf
pages/page4.pdf
pages
gifts_output/.DS_Store
